body {
	background-color: lightgrey;
	margin: 0;
}

/* NAVBAR */

#navbar {
	height: 80px;
	background-color: white;
	display: flex;
}

#logo {
	width: 70px;
	margin: 5px 0 5px 5px;
}

#title {
	margin: auto 0 auto 0;
	font-family: arial;
	font-size: 30px;
	font-weight: bold;
}

#menu {
	display: flex;
	text-align: right;
	position: absolute;
	top: 28px;
	right: 10px;
	margin: auto 0 auto 0;
}

.menu-item {
	margin: 0 15px 0 0;
	font-size: 20px;
	font-family: arial;
}

.menu-link {
	text-decoration: none;
	color: black;
}

.menu-link:hover {
	color: #ac5180;
}

#login {
	text-decoration: none;
	background-color: #ac5180;
	color: white;
	padding: 10px;
}

#login:hover {
	background-color: lightgrey;
	color: #ac5180;
	transition: 0.1s;
}

/* PROFILE CONTAINER */

#profile-container {
	background-color: #ac5180;
	height: 550px;
	text-align: center;
	width: 1000px;
	margin: 30px auto 0 auto;
	display: grid;
	grid-template-columns: 40% 60%;
}

/* LEFT SIDE - MAIN DATA */

#left-side {
	width: 100%;
	background-color: #ac5180;
}

#mp-header {
	padding: 20px 0 0 0;
	font-family: arial;
	font-size: 50px;
	font-weight: bold;
	color: white;
}

#mp-pfp {
	width: 160px;
	height: 160px;
	border-radius: 100px;
	border: 5px solid black;
}

#mp-name {
	font-size: 25px;
	font-family: arial;
	font-weight: bold;
	color: white;
	margin: 10px 10px 0px 10px;
}

#mp-email {
	font-size: 15px;
	font-family: arial;
	color: white;
	margin: 10px;
}

.mp-button-items {
	display: block;
	margin: 7px auto 0 auto;
	width: 250px;
	height: 33px;
	font-size: 17px;
	background-color: white;
	cursor: pointer;
}

/* LEFT SIDE - MAIN DATA */

#right-side {
	width: 100%;
	background-color: white;
	text-align: left;
	padding-left: 10px;
}

/* CLUBS LIST */

#my-club {
	width: 100%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.club-items {
	margin: 20px;
	width: 190px;
	background-color: #ac5180;
	color: white;
	border: none;
	font-weight: bold;
	font-size: 18px;
	cursor: pointer;
}

.club-items:hover {
	background-color: #632947;
	transition: 0.3s;
}

.label {
	font-family: arial;
	font-size: 20px;
	color: #ac5180;
	margin-left: 25px;
	line-height: 0;
	padding-top: 10px;
}

.data,
#club-empty-text {
	font-family: arial;
	font-size: 20px;
	margin-left: 25px;
}

/* The Modal (background) */
.modal {
	display: none;
	/* Hidden by default */
	position: fixed;
	/* Stay in place */
	z-index: 1;
	/* Sit on top */
	left: 0;
	top: 0;
	width: 100%;
	/* Full width */
	height: 100%;
	/* Full height */
	overflow: auto;
	/* Enable scroll if needed */
	background-color: rgb(0, 0, 0);
	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.4);
	/* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 5% auto;
	/* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 600px;
	/* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 20px;
	font-weight: bold;
	font-family: arial;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.modal-header {
	font-family: arial;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
}

.label-data {
	color: #ac5180;
	font-family: arial;
	font-size: 23px;
}

.content {
	font-family: arial;
	font-size: 23px;
}

input {
	width: 200px;
	height: 25px;
}

#submit-button {
	width: 70%;
	background-color: #ac5180;
	color: white;
	height: 40px;
	margin: auto;
	display: block;
}

form {
	padding: 0 30px 0 30px;
}